body {
    /* Fond dégradé du haut vers le bas avec la couleur blanche qui occupe 20% de la fenêtre*/
    background: linear-gradient(180deg,white, #e6c973 80%);
    /*Fond dégradé appliqué sur toute la fenêtre*/
    background-attachment: fixed;
}

.image-accueil {
    height: 200px;
    width: 250px;
    /*Permet de modifier les dimensions de la galerie d'image selon les valeurs mentionnés plus haut*/
    object-fit: fill;
    /*Créer un reflet de l'image en dessous*/
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.galerie-accueil {
    /*Aligne les images horziontalement avec des espaces entre les images*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #443131;
    font-size: 25px;
    font-weight: 600px;
}

input {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600px;
    border-radius: 30px;
}

input:hover {
    background-color: grey;
}